doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700" type="text/css")
    title Arthur Himmel | Student at Centrale Lille
    meta(name="description" content="Student at Centrale Lille, Javascript enthusiast and Cinema Lover")
  body
    != yield
  include ./_scripts.jade
