.content-top
  h2.me
    .me-picture-container
        img.me-picture(src="./static/me.jpg")
    span Arthur Himmel
  h3
    | Studying Computer Science, Web Development and E-Business at 
    a(href="http://centrale.ec-lille.fr") Centrale Lille
.content
  ul.links
    li
        a(href="http://arthurhimmel.com:3000") Trackly
    li
        a(href="/photos") Photos