.content
  h2.me
    img.me-picture(src="./static/me.jpg")
    span Arthur Himmel
  h3
    | Learning Computer Science, Web Development and E-Business at 
    a(href="http://centrale.ec-lille.fr") Centrale Lille
  ul.projects
    li
        a(href="http://arthurhimmel.com:3000") Trackly
