.content
  h2 Arthur Himmel
  img.me-picture(src="./static/me.jpg", width=150)
  h3
    | Learning Computer Science, Web Development and E-Business at 
    a(href="http://centrale.ec-lille.fr") Centrale Lille
