.top-bar
    a &lsaquo; home
ul.photos
    for photo in public.photosfolder._contents
        li.photo
            a(href="/photosfolder/#{ photo }")
                img(src="/photosfolder/#{ photo }")