extends layout

block content
  .content
    img.content__picture-me(src="/images/me.jpg")
    p.content__first-line
      | My name is Arthur Himmel, and I am currently a student at 
      a(target="_blank", href="http://centrale.ec-lille.fr/en/index.html") Ecole Centrale de Lille
      | , a french « Grande Ecole d'Ingénieur » (Engineering Graduate School), majoring in Web Development and E-business, and minoring in Applied Mathematics.
    p
      | Before this last year of studies, I spent 15 months in Paris and San Francisco for internships; I stayed for 9 months at 
      a(target="_blank", href="https://work4labs.com") Work4 
      | where I was able to master JavaScript and Nerf battles.
    p
      | I am passionate about front-end technologies, data analysis, open-source communities, and more generally, science and innovation. I also really dig music and cinema.
    p
      | I am currently looking for a 3-to-6 months internship for next summer in Software Engineering. You can always get my resume 
      a(target="_blank", href="/resume.pdf") here
      |  or contact me via 
      a(target="_blank", href="http://linkedin.com/pub/arthur-himmel/55/535/48/en") LinkedIn
      | .