extends layout

block content
  .content
    ul.photos
      li.photo
        img(src="/images/photos/DSC_0140.jpg")
      li.photo
        img(src="/images/photos/DSC_0177.jpg")
      li.photo
        img(src="/images/photos/DSC_0564.jpg")
      li.photo
        img(src="/images/photos/DSC_0582.jpg")
      li.photo
        img(src="/images/photos/DSC_1021.jpg")
      li.photo
        img(src="/images/photos/DSC_1035.jpg")
      li.photo
        img(src="/images/photos/DSC_1040.jpg")
      li.photo
        img(src="/images/photos/DSC_1083.jpg")
      li.photo
        img(src="/images/photos/DSC_1086.jpg")
      li.photo
        img(src="/images/photos/DSC_1099.jpg")
