extends layout

block content
  .content
    ul.photos
      li.photo
        img(src="https://farm8.staticflickr.com/7523/15834447467_53a7ab7a4f_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7523/15834447467_53a7ab7a4f_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7566/15832775338_646c4bb4fa_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7531/15832935840_63f2cec09d_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7559/15214903253_5ffe9816aa_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7501/15832454331_dc410fbf9e_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7475/15832460511_da3e6f6f29_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7467/15649188117_c3c036ed4c_b.jpg")
      li.photo
        img(src="https://farm6.staticflickr.com/5606/15810686146_e3cc88cbde_b.jpg")
      li.photo
        img(src="https://farm9.staticflickr.com/8582/15649484720_df95af1076_b.jpg")
      li.photo
        img(src="https://farm9.staticflickr.com/8138/15649189427_0fe2248ffc_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7546/15649189887_7d7f9a7f38_b.jpg")
      li.photo
        img(src="https://farm4.staticflickr.com/3771/14085527790_b596f62f1b_b.jpg")
      li.photo
        img(src="https://farm4.staticflickr.com/3723/14292324223_3d5104ebf9_b.jpg")
      li.photo
        img(src="https://farm6.staticflickr.com/5580/14249027586_34630188bb_b.jpg")
      li.photo
        img(src="https://farm4.staticflickr.com/3811/14085510648_533986d4d9_b.jpg")
      li.photo
        img(src="https://farm4.staticflickr.com/3728/14268837471_af1c50b821_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7370/13897264058_9d91b45c91_b.jpg")
      li.photo
        img(src="https://farm8.staticflickr.com/7420/13897241959_a8edca3c6c_b.jpg")
