extends layout

block content
  .content
    ul.projects
      li.project
        h2 central.js
        p
          a(href="https://github.com/himmelarthur/<central></central>") central.js
          |  is a JavaScript framework implementing the isomorphic paradigm, built during the writing of a master thesis on isomorphic applications.
        p
          | It was build over Backbone.js and runs on a express.js instance.
      li.project
        h2 Trackly
          img(src="/images/trackly.png")
        p
          a(href="/trackly") Trackly
          |  is a small project I am currently working on. It is a quick and easy way to save Youtube and Soundcloud clips and tracks for later.
        p
          | It was built using Backbone.js (and the Marionette.js library), SASS and jade, on an Express/MongoDB stack.
      li.project
        h2 k.ciie
          img(src="/images/kciie.jpeg")
        p
          strong k.ciie 
          | (
          em Kit de Capteurs Intelligents et Interface d'Expression
          |, french for "Smart Sensors and Creativity Interface"), is a wireless sensor interface that allows artists, performers and dancers to interact with computer-programmed effects (lights, music, videos, etc.) directly through their movements.
        p
          | Our team of 6 students designed and built it in two years while being supervised by a dance company. I was in charge of the wireless communication and the data processing (using technologies such as Arduino and XBee).
