html, body {
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", "Times New Roman", serif;
    color: #333;
    background: #FFFCF8;
    font-size: 17px;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    color: #565656;
    font-weight: bold;
    letter-spacing: -1px;
}

a:hover {
    color: #727272;
}

p {
    margin: 0;
}

.top-bar {
    display: table;
    width: 100%;
    padding: 40px;
    background: white;
    border-bottom: 1px #E0DBD6 solid;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    color: #333;
}

.top-bar__left, .top-bar__right {
    display: table-cell;
}

.top-bar__me {
    vertical-align: middle;
    font-weight: lighter;
    font-size: 1.3em;
}

span.top-bar__lastname {
    font-weight: bold;
    color: #666;
}

ul.top-bar__right {
    letter-spacing: none;
    vertical-align: middle;
    text-align: right;
}

ul.top-bar__right li {
    display: inline-block;
    padding-left: 40px;
}

.top-bar__right a {
    text-decoration: none;
}

.content {
    width: 70%;
    margin: auto;
    padding: 40px;
    text-align: justify;
}

.content p {
    text-indent: 40px;
    font-size: 1.2em;
    padding-bottom: 30px;
}

.content .content__picture-me {
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
    border-radius: 50px;
    border: 10px #FDC374 solid;
}